server:
  port: 8080
spring:
  application:
    name: backend
  profiles:
    include: secret # application-secret.yaml 포함
  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL # 파일 DB
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      auto-commit: false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  ai:
    google:
      genai:
        chat:
          options:
            model: gemini-2.0-flash
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
